body {
  font-family: "Arial", sans-serif;
  background-color: #f0f8ff; /* Light blue background */
  margin: 0;
  padding: 0;
}

.register-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px 30px;
  background-color: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333333;
  font-size: 24px;
}

.register-form {
  margin-top: 20px;
}

.ant-input,
.ant-input-password {
  padding: 10px;
  border-radius: 5px;
}

.register-btn {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.register-btn:hover {
  background-color: #0056b3;
}

.register-footer {
  margin-top: 15px;
  font-size: 14px;
}

.register-footer a {
  color: #007bff;
  text-decoration: none;
}

.register-footer a:hover {
  text-decoration: underline;
}

/* Role Dropdown */
.ant-select {
  width: 100%;
}

.ant-form-item-label > label {
  color: #333;
}

/* Redirect Link */
.redirect-link {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #555;
}

.redirect-link .login-link {
  color: #1890ff;
  text-decoration: none;
  font-weight: bold;
}

.redirect-link .login-link:hover {
  text-decoration: underline;
}
